<suite name="All Test Suite">

    <listeners>
        <listener class-name = "api.utilities.ExtentReportManager"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="C:/Users/piyus/IdeaProjects/RestAssuredLearning/src/test/java/api/test">
        <classes>
            <class name="api.test.DDTests">
                <methods>
                    <include name="testPostUser"/>
                    <include name="testDeleteuser"/>
                </methods>
            </class>
            <class name="api.test.UserTest">
                <methods>
                    <include name="testPostUser"/>
                    <include name="testGetUserbyName"/>
                    <include name="testUpdateUserbyName"/>
                    <include name="testDeleteUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>